@model Online_shop_mvc.Models.Home.HomeModelView
@{
    ViewBag.Title = "Home Page";
}

<!---full-slider--->
<ul id="adaptive" class="cs-hidden">
    <!--slider-Box-->
    @for(int i = 1; i <= 3; i++)
    {
        <li class="item-a">
            <div class="full-slider-box f-slider-@(i)">
                <!--slider-text-content-->
                <div class="slider-text-container">
                    <div class="f-slider-text">
                        <span>Limited offer</span>
                        <strong>30% Off<br />with <font>promo code</font></strong>
                        <a href="#" class="f-slider-button">Shop Now</a>
                    </div>
                </div>
            </div>
        </li>
    }

    
</ul>

<!--Featured-catagories-->
<div class="featured-category">
    <h2>Featered Categorys</h2>
</div>

<!--Featured-Box-slider-->
<div class="">
    
    <ul id="autoWidth" class="cs-hidden">
        <!--box-1-->
        <li class="item">
            <div class="featured-box">
                <a href="#">
                    <img src="/Images/Feature/feature_1.jpg" />
                </a>
            </div>
            <span>T-Shirt</span>
        </li>
        <!--box-2-->
        <li class="item">
            <div class="featured-box">
                <a href="#">
                    <img src="/Images/Feature/feature_2.jpg" />
                </a>
            </div>
            <span>T-Shirt</span>
        </li>
        <!--box-3-->
        <li class="item">
            <div class="featured-box">
                <a href="#">
                    <img src="/Images/Feature/feature_3.jpg" />
                </a>
            </div>
            <span>T-Shirt</span>
        </li>
        <!--box-4-->
        <li class="item">
            <div class="featured-box">
                <a href="#">
                    <img src="/Images/Feature/feature_4.jpg" />
                </a>
            </div>
            <span>T-Shirt</span>
        </li>
        <!--box-5-->
        <li class="item">
            <div class="featured-box">
                <a href="#">
                    <img src="/Images/Feature/feature_5.jpg" />
                </a>
            </div>
            <span>T-Shirt</span>
        </li>
        <!--box-6-->
        <li class="item">
            <div class="featured-box">
                <a href="#">
                    <img src="/Images/Feature/feature_6.jpg" />
                </a>
            </div>
            <span>T-Shirt</span>
        </li>
    </ul>
</div>

<!--Nwe-arrivale-products-->
<section class="new-arrivle">
    <div class="arrivle-header">
        <strong>New arreivle</strong>
        <p>We Provide New Design and clothing</p>
    </div>
    <!---Product-container--->
    <div class="product-container">
        @for(int i = 1; i <= 8; i++)
        {
            <!--Product-box-->
            <div class="product-box">

                <!--product-images-->
                <div class="product-image">
                    <!--add-to-cart-->
                    <a href="#" class="add-cart">
                        <i class="fas fa-shopping-cart "></i>
                    </a>
                    <img src="/Images/ProductImages/p-@(i).png" />
                </div>
                <!--product-details-->
                <div class="product-details">
                    <a href="#" class="product-name">Drawstring T-Shirt</a>
                    <span class="product-price">$20.00</span>
                </div>
            </div>
        }
    </div>
</section>


<!--sales-->
<section class="sale">
    <!--sales-box-->
    @for(int i = 1; i <= 3; i++)
    {
        <div class="sale-box">
            <!--sales-imags-->
            <img src="~/Images/Banner/sale-@(i).jpg" />
            <!--text-->
            <a href="#">
                <div class="sale-text">
                    <strong>Bag With Rose Pattern</strong>
                    <span>Sale off 20%</span>
                </div>
            </a>

        </div>
    }

</section>

<!--feature-item-product-->
<section class="new-arrivle">
    <div class="arrivle-header">
        <strong>Feature items</strong>
        <p>We Provide New Design and clothing</p>
    </div>
    <!---Product-container--->
    <div class="product-container">
        @for(int i = 8; i > 0 ; i--)
        {
            <!--Product-box-->
            <div class="product-box">

                <!--product-images-->
                <div class="product-image">
                    <!--add-to-cart-->
                    <a href="#" class="add-cart">
                        <i class="fas fa-shopping-cart "></i>
                    </a>
                    <img src="/Images/ProductImages/p-@(i).png" />
                </div>
                <!--product-details-->
                <div class="product-details">
                    <a href="#" class="product-name">Drawstring T-Shirt</a>
                    <span class="product-price">$20.00</span>
                </div>
            </div>
        }
    </div>
</section>

<!--sale-banner----->
<section class="banner">
    <div class="banner-box f-slider-3">
        <!--slider-text-content-->
        <div class="banner-text-container">
            <div class="banner-text">
                <span>Limited offer</span>
                <strong>30% Off<br />with <font>promo code</font></strong>
                <a href="#" class="banner-button">Shop Now</a>
            </div>
        </div>
    </div>
</section>

<!--services-->
<section class="services">
    <!--service-box-1-->
    <div class="services-box">
        <i class="fas fa-shipping-fast"></i>
        <span>Free Shipping</span>
        <p>Free Shipping For All BD Order</p>
    </div>

    <!--service-box-1-->
    <div class="services-box">
        <i class="fas fa-headphones-alt"></i>
        <span>Support 24/7</span>
        <p>We Give Support 25h a Day</p>
    </div>

    <!--service-box-1-->
    <div class="services-box">
        <i class="fas fa-sync"></i>
        <span>100% Money Back</span>
        <p>You Have 30 Days to Return</p>
    </div>

</section>