@{
    ViewBag.Title = "Home Page";
}

<!---full-slider--->
<div class="full-slider-box f-slider-1">
    <!----slider-text-content----->
    <div class="slider-text-container">
        <span>Limited offer</span>
        <strong>30% Off with promo code</strong>
        <a href="#" class="f-slider-button">Shop Now</a>
    </div>
</div>


