@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: poppins !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*{
    box-sizing:border-box;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
nav{
    width:100%;
    box-shadow:2px 2px 30px rgba(0, 0, 0, 0.5);
    z-index:100;
}
.social-call{
    height: 40px;
    border:1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display:flex;
}
.social a{
    margin: 0px 5px;
    color:rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}
.phone {
    color:rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}
.social a:hover{
    color: #0b9d8a;
    transition:all ease 0.3s;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
